* {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 50em;
  margin-left: auto;
  margin-right: auto;
  /* align-items: center; */
  justify-content: middle;
  flex-direction: column;
  font-family: sans-serif;
  color: #444;
}

.format-input {
  font-size: 140%;
  padding:0.2rem;
  width:50%;
  font-family: monospace;
}

.format-submit {
  font-size: 130%;
  font-family: monospace;
}

tt {
  font-size:120%;
  background-color: rgba(68, 68, 68, 0.067);
  padding: 0.2rem;
  border-radius: 0.4rem;
  color:rgb(14, 14, 14)
  
}

footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

