* {
  box-sizing: border-box;
}

main {
  width: 50em;
}

body {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: middle;
  flex-direction: column;
  font-family: sans-serif;
  color: #444;
}

.main-input {
  width: 20em;
  font-size: 30;
}



footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
}

